<div class="media">
  <div class="media-body">
    <h4 class="media-heading">
      <%= link_to wiki.title, wiki_path(wiki)%>
    </h4>
    <small>
      created <%= time_ago_in_words(wiki.created_at) %> ago
    </small>
  </div>
</div>